body {
    background-color:black;
}
p   {
    color: white;
}
h1 {
    color: white;
}
div {
    color: white;
}
article div:first-of-type{
    border: 2px red solid;
    border-bottom: 0px;
}
article div:last-of-type {
    border: 2px red solid;
    border-top: 0px;
}
